{% extends '::base.html.twig'%}
{%block css%}
    <link href="{{asset('css/formValidation.min.css')}}" rel="stylesheet">
    <link href="{{asset('css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
    <link href="{{asset('BootstrapFormHelpers/dist/css/bootstrap-formhelpers.min.css')}}" rel="stylesheet">  
{%endblock css%}

{%block items%}
    <ul class="nav navbar-nav">
        <li><a href="{{path('athwela_timeline_volunteer')}}"><span class="glyphicon glyphicon-book"></span>Timeline</a></li>
        <li><a href="{{path('vol_profile_show')}}"><span class="glyphicon glyphicon-user"></span>{{app.user.username}}</a></li>
        <li><a href="{{path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
{%endblock items%}

{%block container%}

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend class="header text-center">Edit profile settings</legend>
                <div class = "mymargin15"> </div>                 
                <div class="col-md-4">                           

                    <fieldset>
                        <br>
                        <div class="form-group ">
                            <div class= "col-md-8 col-md-offset-2 ">
                                {% if proPic == null%}
                                    <img src="{{asset('img/blankProPic.jpg')}}" class="img-responsive img-thumbnail center-block" alt="avatar" height="247" width="203">
                                {% else %}
                                    <img src="{{asset(proPic)}}" class="img-responsive img-thumbnail center-block" alt="avatar" height="247" width="203">
                                {% endif %}
                                <br />
                            </div>  
                        </div>   

                        <div class="form-group">

                            {{form_start(formImage)}}
                            <div>{{form_widget(formImage.File,{'attr':{'class':'form-control'}})}}</div>
                            <div style="margin-top: 0.5em;">{{form_widget(formImage.upImg,{'attr':{'class':'btn btn-default'}})}}</div>
                            {{form_end(formImage)}}

                        </div>
                    </fieldset>

                    <br>
                    <br>
                    {#-------------------------- PW Change----------------------------------#}
                    <form action="{{path('fos_user_change_password')}}" method="POST" enctype="{{ form_enctype(form) }}">
                        <fieldset >

                            <legend class="text-center">Password reset</legend>
                            {{form_row(form._token)}}
                            <div class="form-group ">

                                <div >

                                    <label class="control-label">Current Password:</label>
                                    {{form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'Enter Current password'}})}}

                                </div>

                                <div >
                                    <label class="control-label">New Password:</label>
                                    {{form_widget(form.new.first,{'attr':{'class':'form-control','placeholder':'Enter New password'}})}}

                                </div>

                                <div  >
                                    <label class="control-label">Re-type new Password:</label>
                                    {{form_widget(form.new.second,{'attr':{'class':'form-control','placeholder':'Re-Enter New password'}})}}

                                </div>

                                <div style="margin-top: 0.5em;">
                                    <button type="submit" class="btn btn-default ">Reset</button>
                                </div>
                            </div>    

                        </fieldset>

                    </form>
                    {#-------------------------------------------------------------#}


                </div>


                <div class="col-md-8"> 
                    <br>
                    <form action = "{{ path('volunteer_profile_updates',{'id': id}) }}" id = "form3" class="form-horizontal" method="post" >  
                        {#-------------------- First Name -----------------------#}                     
                        <div class="form-group">
                            <label class="col-md-4 control-label">First name:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="first_name" type="text" placeholder="first name" value="{{request['first_name']}}">
                            </div>
                        </div>

                        {#-------------------- Last Name -----------------------#}   

                        <div class="form-group">
                            <label class="col-md-4 control-label">Last name:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="last_name" type="text" placeholder="last name" value="{{request['last_name']}}">
                            </div>
                        </div>  

                        {#-------------------- Brithday -----------------------#}   

                        <div class="form-group">
                            <label class="col-md-4 control-label">Birthday:</label>
                            <div class="col-md-8">
                                <div class="bfh-datepicker" data-format="y-m-d" data-date="{{request['birthday']}}"  data-name="birthday"></div>             
                            </div>
                        </div>

                        {#-------------------- Phone Number -----------------------#} 
                        <div class="form-group">
                            <div class="col-md-4" >
                                <div class="form-group">
                                    <label class="col-md-12 control-label">Phone Number:</label> 
                                </div>
                            </div> 

                            <div class="col-md-7" >

                                {% for number in request['phoneNu'] %} 
                                    {% if number != "" %}
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input class="form-control" name="phoneNu[]" type="text" value="{{number}}">
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="form-group " >
                                    <div class="col-md-10">
                                        <input class="form-control" name="phoneNu[]" type="text" placeholder="phoneNu #1">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-default addButton" data-template="phoneNu">Add</button>
                                    </div>
                                </div>

                                <div class="form-group hide" id="phoneNuTemplate">
                                    <div class="col-md-10">
                                        <input class="form-control" name="phoneNu[]" type="text" >
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-default removeButton">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {#-------------------- Gender -----------------------#}

                        <div class="form-group">
                            <label class="col-md-4 control-label">Gender:</label>
                            <div class="col-md-8">
                                {% if request['gender'] == "male" %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="male" checked="checked" /> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="female" /> Female
                                        </label>
                                    </div>

                                {% else %} 
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="male" /> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="female" checked="checked"/> Female
                                        </label>
                                    </div>
                                {% endif %}  
                            </div>
                        </div>

                        {#-------------------- Address -----------------------#} 
                        <div class="form-group">
                            <label class="col-md-4 control-label">Address:</label>
                            <div class="col-md-8">

                                {#-------------------- Street -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Street:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="street" type="text" placeholder="street" value="{{request['street']}}">
                                    </div>
                                </div>

                                {#-------------------- City -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">City:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="city" type="text" placeholder="city" value="{{request['city']}}">
                                    </div>
                                </div>

                                {#-------------------- Country -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Country:</label>
                                    <div class="col-md-8">
                                        <div class="bfh-selectbox bfh-countries" data-name="country" data-country="{{request['country']}}" data-flags="true"  ></div>
                                    </div>
                                </div>


                            </div>
                        </div>   


                        {#-------------------- Education -----------------------#} 
                        <div class="form-group">
                            <label class="col-md-4 control-label">Education:</label>
                            <div class="col-md-8">

                                {#-------------------- Institute -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Institute:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="institute" type="text" placeholder="institute" value="{{request['institute']}}">
                                    </div>
                                </div>

                                {#-------------------- Start Date -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Start Date:</label>
                                    <div class="col-md-8">
                                        <div class="bfh-datepicker" data-format="y-m-d" data-date="{{request['start_date']}}" data-name="start_date"></div>
                                    </div>
                                </div>

                                {#-------------------- End Date -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">End Date:</label>
                                    <div class="col-md-8">
                                        <div class="bfh-datepicker" data-format="y-m-d" data-date="{{request['end_date']}}" data-name="end_date"></div>
                                    </div>
                                </div>

                                {#-------------------- Degree -----------------------#} 
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Degree:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="degree" type="text" placeholder="degree" value="{{request['degree']}}">
                                    </div>
                                </div>


                            </div>
                        </div> 

                        {#-------------------- Skills -----------------------#}
                        <div class="form-group">

                            <label class="col-md-4 control-label">Skills:</label>

                            <div class = "col-md-8">

                                {% for number in request['skills'] %} 
                                    {% set foo = "" %}
                                        {% for select in request['programs']  %} 

                                            {% if number == select %}
                                                {% set foo = "contain" %}
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="programs[]" value={{number}} checked="checked"> {{number}}
                                                        </label>
                                                    </div>

                                                    {% endif %}

                                                        {% endfor %}

                                                            {% if foo == "" %}
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" name="programs[]" value={{number}}> {{number}}
                                                                    </label>
                                                                </div>
                                                            {% endif %}

                                                            {% endfor %}

                                                            </div>  
                                                        </div>

                                                        <div class="form-group">
                                                            <div class=" col-md-8 col-md-offset-4 left">
                                                                <button type ="submit" name = "contact" class="btn btn-default pull-right" >Update</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </fieldset>            
                                        </div>
                                    </div>



                                    <style>
                                        .header {
                                            color: #006600;
                                            font-size: 27px;
                                            font-weight:bold ;
                                            padding: 10px;
                                        }

                                        .bigicon {
                                            font-size: 35px;
                                            color: #006600;
                                        }  
                                    </style>
                                    {%endblock container%}


                                        {%block js%}
                                            <script src={{asset('js/jquery-1.11.2.min.js')}}></script>
                                            <script src={{asset('js/formValidation.min.js')}}></script>
                                            <script src={{asset('js/framework/bootstrap.min.js')}}></script>
                                            <script src={{asset('js/moment.min.js')}}></script>
                                            <script src={{asset('js/bootstrap-datetimepicker.min.js')}}></script>  
                                            <script src={{asset('BootstrapFormHelpers/dist/js/bootstrap-formhelpers.min.js')}}></script>  

                                            <script type="text/javascript">
                                                $(document).ready(function() {
                                                    $('.addButton').on('click', function() {
                                                        var index = $(this).data('index');
                                                        if (!index) {
                                                            index = 1;
                                                            $(this).data('index', 1);
                                                        }
                                                        index++;
                                                        $(this).data('index', index);

                                                        var template = $(this).attr('data-template'),
                                                                $templateEle = $('#' + template + 'Template'),
                                                                $row = $templateEle.clone().removeAttr('id').insertBefore($templateEle).removeClass('hide'),
                                                                $el = $row.find('input').eq(0).attr('name', template + '[]');
                                                        $('#form3').formValidation('addField', $el);
                                                        $el.attr('placeholder', 'phoneNu #' + index);
                                                        $row.on('click', '.removeButton', function(e) {
                                                            $('#form3').formValidation('removeField', $el);
                                                            $row.remove();
                                                        });
                                                    });
                                                });


                                                $(document).ready(function() {
                                                    $('#form1').formValidation({
                                                        message: 'This value is not valid',
                                                        icon: {
                                                            valid: 'glyphicon glyphicon-ok',
                                                            invalid: 'glyphicon glyphicon-remove',
                                                            validating: 'glyphicon glyphicon-refresh'
                                                        },
                                                        fields: {
                                                            file: {
                                                                validators: {
                                                                    file: {
                                                                        extension: 'jpeg,png,jpg',
                                                                        type: 'image/jpeg,image/png,image/jpg',
                                                                        message: 'only jpeg,png and png extentions are allowed'
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    });

                                                });

                                                $(document).ready(function() {
                                                    $('#form3').formValidation({
                                                        message: 'This value is not valid',
                                                        icon: {
                                                            valid: 'glyphicon glyphicon-ok',
                                                            invalid: 'glyphicon glyphicon-remove',
                                                            validating: 'glyphicon glyphicon-refresh'
                                                        },
                                                        fields: {
                                                            first_name: {
                                                                validators: {
                                                                    notEmpty: {
                                                                        message: 'The first name is required and cannot be empty'
                                                                    }
                                                                }
                                                            },
                                                            last_name: {
                                                                validators: {
                                                                    notEmpty: {
                                                                        message: 'The last name is required and cannot be empty'
                                                                    }
                                                                }
                                                            },
                                                            street: {
                                                                validators: {
                                                                    notEmpty: {
                                                                        message: 'The street is required and cannot be empty'
                                                                    }
                                                                }
                                                            },
                                                            city: {
                                                                validators: {
                                                                    notEmpty: {
                                                                        message: 'The city is required and cannot be empty'
                                                                    }
                                                                }
                                                            },
                                                            'phoneNu[]': {
                                                                validators: {
                                                                    digits: {
                                                                        message: 'The phone number can only consist of numbers'
                                                                    },
                                                                    phone: {
                                                                        country: 'US',
                                                                        message: 'Please enter a valid phone number in Sri Lanka'
                                                                    }
                                                                }
                                                            },
                                                            gender: {
                                                                validators: {
                                                                    notEmpty: {
                                                                        message: 'The gender is required'
                                                                    }
                                                                }
                                                            },
                                                            file: {
                                                                validators: {
                                                                    file: {
                                                                        extension: 'jpeg',
                                                                        type: 'image/jpeg',
                                                                        message: 'Please choose a jpg file.'
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    });

                                                });
                                            </script>
                                        {%endblock js%}