{% extends '::base.html.twig'%}
{%block css%}
    <link href="{{asset('css/formValidation.min.css')}}" rel="stylesheet">
    <link href="{{asset('css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
{%endblock css%}
{%block container%}  
    <div class="alert alert-success col-md-8 col-md-offset-2 text-center">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        You have <strong> successfully </strong> updated your profile.
    </div>
    <div class="row">       
        <div class="col-md-12">
            <fieldset>
                <legend class="header text-center">Edit profile settings</legend>   

                <div class="col-md-4">                            
                    <form action = "#" id = "form1" class="form-horizontal" method="post" >
                        <fieldset >   
                            <legend class="text-center">Edit Profile Picture</legend>
                            <div class="form-group ">
                                <div class= "col-md-10 col-md-offset-1 ">
                                    <img src="http://fc06.deviantart.net/fs71/f/2012/275/d/f/profile_picture_by_bosch91-d5gks3i.jpg" class="avatar img-responsive img-thumbnail center-block" alt="avatar">
                                </div>
                                <div class = "col-md-12">    
                                    <h6>Upload a different photo...</h6>
                                </div>    
                                <div class = "col-md-12">
                                    <input name="file" type="file" class="form-control">   
                                </div>
                            </div>
                        </fieldset>                            
                        <br>
                        <br>
                        <br>                            
                        <fieldset >
                            <legend class="text-center">Password reset</legend>

                            <div class="form-group ">

                                <div class = "col-md-12">
                                    {{form_row(form._token)}}
                                    <label class="control-label">Current Password</label>
                                    {{form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'Enter Current password'}})}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-12" >
                                    <label class="control-label">New Password</label>
                                    {{form_widget(form.new.first,{'attr':{'class':'form-control','placeholder':'Enter New password'}})}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-12" >
                                    <label class="control-label">Re-type new Password</label>
                                    {{form_widget(form.new.second,{'attr':{'class':'form-control','placeholder':'Re-Enter New password'}})}}

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" >
                                    <button type ="submit" name = "contact" class="btn btn-default pull-left" >Update</button>
                                </div>
                            </div>    

                        </fieldset>
                    </form>                          
                </div>

                <br>
                {#-------------------- Basic Profile Settings Form 2-----------------------#}

                <div class="col-md-8">  
                    <form action = "{{ path('volunteer_profile_updates',{'id': id}) }}" id = "form2" class="form-horizontal" method="post" >  

                        {#-------------------- First Name -----------------------#}

                        <div class="form-group">
                            <label class="col-md-4 control-label">First name:</label>
                            <div class="col-md-3">
                                <input class="form-control" name="first_name" type="text" value="{{request['first_name']}}">
                            </div>
                        </div>

                        {#-------------------- Last Name -----------------------#}   

                        <div class="form-group">
                            <label class="col-md-4 control-label">Last name:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="last_name" type="text" value="{{request['last_name']}}">
                            </div>
                        </div>  

                        {#-------------------- Brithday -----------------------#}   

                        <div class="form-group" id="move">
                            <label class="col-md-4 control-label">Birthday</label>
                            <div class="col-md-8">

                                <div class="input-group date" id="datetimePicker">
                                    <input type="text" class="form-control" name="datetimePicker" value="{{request['datetimePicker']}}" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>                                                                       
                            </div>
                        </div>

                        {#-------------------- Gender -----------------------#}  

                        <div class="form-group">
                            <label class="col-md-4 control-label">Gender</label>
                            <div class="col-md-8">
                                {% if request['gender'] == "male" %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="male" checked="checked" /> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="female" /> Female
                                        </label>
                                    </div>

                                {% else %} 
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="male" /> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="female" checked="checked"/> Female
                                        </label>
                                    </div>
                                {% endif %}  
                            </div>
                        </div>

                        {#-------------------- Mobile Phone -----------------------#}    

                        <div class="form-group">
                            <label class="col-md-4 control-label">Mobile Phone:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="phone" type="text" value="{{request['phone']}}">
                            </div>
                        </div> 

                        {#-------------------- Skills -----------------------#}

                        <div class="form-group">
                            <label class="col-md-4 control-label">Skills</label>
                            <div class="col-md-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="net" /> .Net
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="java" /> Java
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="c" /> C/C++
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="php" /> PHP
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="perl" /> Perl
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="ruby" /> Ruby
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="python" /> Python
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="programs[]" value="javascript" /> Javascript
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-8 col-md-offset-4 left">
                                <button type ="submit" name = "contact" class="btn btn-default pull-right" >Update</button>
                            </div>
                        </div>
                    </form>
                </div>

        </div>
    </div>

    <style>
        .header {
            color: #006600;
            font-size: 27px;
            font-weight:bold ;
            padding: 10px;
        }

        .bigicon {
            font-size: 35px;
            color: #006600;
        }

        #form2 > .has-feedback .form-control-feedback   
        {
            top: 0;
            right: -15px;
        }
    </style>
{%endblock container%}



{% block js%}
    <script src={{asset('js/jquery-1.11.2.min.js')}}></script>
    <script src={{asset('js/formValidation.min.js')}}></script>
    <script src={{asset('js/framework/bootstrap.min.js')}}></script>
    <script src={{asset('js/moment.min.js')}}></script>
    <script src={{asset('js/bootstrap-datetimepicker.min.js')}}></script>   

    <script>
        $(document).ready(function() {
            $('#datetimePicker').datetimepicker({
                viewMode: 'years',
                format: 'DD/MM/YYYY'
            });
        });
    </script>   

    <script type="text/javascript">
        $(document).ready(function() {
            $('#form1').formValidation({
                message: 'This value is not valid',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    oldpassword: {
                        validators: {
                            notEmpty: {
                                message: 'The oldpassword is required and cannot be empty'
                            }
                        }
                    },
                    newpassword: {
                        validators: {
                            notEmpty: {
                                message: 'The newpassword is required and cannot be empty'
                            }
                        }
                    },
                    confirmPassword: {
                        validators: {
                            identical: {
                                field: 'newpassword',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    }

                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#form2').formValidation({
                message: 'This value is not valid',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    first_name: {
                        validators: {
                            notEmpty: {
                                message: 'The first name is required and cannot be empty'
                            }
                        }
                    },
                    last_name: {
                        validators: {
                            notEmpty: {
                                message: 'The last name is required and cannot be empty'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            notEmpty: {
                                message: 'The phone number is required and cannot be empty'
                            },
                            stringLength: {
                                max: 10,
                                message: 'The phone number must be 10 characters long'
                            },
                            digits: {
                                message: 'The phone number can only consist of numbers'
                            }
                        }
                    },
                    gender: {
                        validators: {
                            notEmpty: {
                                message: 'The gender is required'
                            }
                        }
                    },
                    file: {
                        validators: {
                            file: {
                                extension: 'jpg',
                                type: 'image/jpg',
                                message: 'Please choose a jpg file.'
                            }
                        }
                    }

                }
            });
        });
    </script>
{% endblock js%}