{%extends "::base.html.twig"%}
{% block css %}
    <link href="{{asset('css/timeline.css')}}" rel="stylesheet">
{% endblock %}
{%block items%}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="{{path('fos_user_security_logout')}}">Logout</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{path('organization_profile_settings', {'id' : app.user.id})}}">Profile Settings</a></li>
                <li><a href="{{path('org_profile_show')}}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
            </ul>
        </li>
    </ul>
{%endblock items%}

{% block container -%}    
    <div class="col-md-12 container">
        {%if requests[0][0] != null and requests|length != 0%}            
            <div  style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 30px" class="img-responsive img-thumbnail">
                You have <label style="color: red">{{requests|length}}</label> requests!
            </div>
            <hr>
            {%for i in 0..(requests|length-1)%}
                <ul class="timeline">
                    {% if loop.index0 is even %}
                        <li>
                        {% else %}
                        <li class="timeline-inverted">
                        {% endif %}
                        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" id=""></i></a></div>
                        <div class="timeline-panel">   
                            <div class="timeline-heading">
                                <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />
                            </div>
                            <div class="timeline-body">
                                <h3><a >{{ requests[i][1].firstName }} {{ requests[i][1].lastName }}</a> wants to join the following project</h3>
                                <h4>{{ requests[i][0].title }}</h4>
                                <p>{{ requests[i][0].description|length > 250 ? requests[i][0].description|slice(0, 250) ~ '...' : requests[i][0].description }}</p>
                            </div>
                            
                            <div class="timeline-footer">
                                <input type="text" name="contribution" class="form-control" placeholder="Assign Contribution"/>
                                <a class="btn btn-success" style="float: right" href="{{path('vol_request_accepted', {'ID' : app.user.id})}}" id="accept">Accept</a>
                                <a class="btn btn-danger" style="float: right" href="{{path('vol_request_rejected', {'ID' : app.user.id})}}" id="reject">Reject</a>
                                <a class="btn btn-Info" style="float: right" href="{{path('vol_profile_show', {'email' : requests[i][1].email})}}" id="reject">View Profile</a>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {%endif%}
        {%if requests[0][0] == null%}  
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                <b>You have no requests.</b>
            </div>
        {%endif%}
    </div>
{%endblock%}