{%extends "::base.html.twig"%}
{%block items%}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="{{path('org_profile_show')}}">Profile</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="">Profile Settings</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="">Timeline</a></li>
                <li class="divider"></li>
                <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
            </ul>
        </li>
    </ul>
{%endblock items%}

{% block container -%}
    <div style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px;">
        {%if projects[0][0] != null and projects|length != 0%}            
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                You have <label style="color: red">{{projects|length}}</label> project(s)!
            </div>
            <hr>
            {%for i in 0..(projects|length-1)%}
                <div style="background-color: whitesmoke; width: 100%" class="img-responsive img-thumbnail">

                    <b>Project name: </b>{{projects[i][0]}} <br/>
                    <b>Description: </b>{{projects[i][1]}} <br/>
                    <b>Posted on: </b>{{projects[i][4]}} <br/>
                    <b>Start date: </b>{{projects[i][2]}} <br/>
                    <b>End date: </b>{{projects[i][3]}} <br/>
                    <b>Volunteers needed to this project: </b>{{projects[i][5]}} <br/>
                    <b>Number of volunteers now participating: </b>{{projects[i][6]}} 

                    <a class="btn btn-info" style="float: right">More>></a>                
                </div>               
                <hr>
            {%endfor%}
        {%endif%}
        {%if projects[0][0] == null%}  
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                <b>You have no ongoing projects. Surf our site to find suitable projects for you.</b>
            </div>
        {%endif%}
    </div>
{%endblock%}
