{%extends "::base.html.twig"%}
{% block items%}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="{{path('fos_user_security_logout')}}">Logout</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Profile Settings</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="{{path('org_profile_show')}}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>
{%endblock items%}

{% block container%}
    <title>{{entity.name}} - <h3>{{entity.description}}</h3></title>
    <div class="row">
        <div class="col-md-3">

            <div id="image">                
                <img src="{{asset('img/blankProPic.jpg')}}" class="img-responsive img-thumbnail">
            </div>

            <div id="navBox" style="margin-top: 20px;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Projects
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="{{path('org_profile_posted')}}">Posted</a></li>
                                    <li><a href="#">Create</a></li>
                                    <li><a href="{{path('org_profile_ongoing')}}">Ongoing</a></li>
                                    {%if amount != 0%}
                                        <li><a href="{{path('org_profile_notification', {'email':entity.email})}}">Notifications <div style="width: 15px; height: 17px; background-color: red; margin-top: -17px; margin-left: 80px; color: white; text-align: center; font-size: 12px; border-radius: 5px;">{{amount}}</div></a></li>
                                    {%endif%}
                                    {%if amount == 0%}
                                        <li><a href="{{path('org_profile_notification', {'email':entity.email})}}">Notifications</a></li>
                                    {%endif%}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Setup Profile
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Edit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form class="form-signin" method="POST" action="#" data-validate="parsley">
                <div class="col-md-8">              
                    <h2 style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;">{{entity.name}}</h2>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#personalSection">Profile and Contact</a></li>                            
                        </ul>
                        <div class="tab-content">
                            <div id="personalSection" class="tab-pane fade in active">
                                <dl class="dl-horizontal" style="margin-top: 10px">
                                    <dt><span class="glyphicon glyphicon-home" ></span> Address :</dt>
                                    <dd>{{entity.street}}, {{entity.city}}, {{entity.country}}</dd><br/>   
                                    {%if mobile == null%}
                                        <dt><span class="glyphicon glyphicon-phone"></span> Mobile :</dt>
                                        <dd><i>No any mobile number to show</i></dd><br/>
                                    {%endif%}
                                    {%if mobile != null%}
                                        {%for i in 0..((mobile|length)-1)%}
                                            <dt><span class="glyphicon glyphicon-phone"></span> Mobile {{i+1}} :</dt>
                                            <dd>{{mobile[i]}}</dd><br/>
                                        {%endfor%}
                                    {%endif%}
                                    
                                    <dt><span class="glyphicon glyphicon-envelope"></span> Email :</dt>
                                    <dd><i>{{entity.email}}</i></dd><br/>

                                    {%if fax == null%}
                                        <dt><span class="glyphicon glyphicon-phone-alt"></span> Fax :</dt>
                                        <dd><i>No any fax number to show</i></dd><br/>
                                    {%endif%}
                                    {%if fax != null%}
                                        {%for i in 0..((fax|length)-1)%}                                        
                                            <dt><span class="glyphicon glyphicon-phone-alt"></span> Fax {{i+1}} :</dt>
                                            <dd>{{fax[i]}}</dd><br/>  
                                        {%endfor%}
                                    {%endif%}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%endblock container%}