{% extends 'AthwelaAdministratorBundle:Administrator:adminDashBoard.html.twig'%}
{%block content%}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Messages</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-plus"></span> New Messages
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {%if newMsgsVol%}
                                            <h4><i class="fa fa-user fa-fw"></i> Received from Volunteers</h4>
                                            {% for newMsgVol in newMsgsVol %}
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <li ><a data-toggle="collapse" href="#newmsgVol{{loop.index0}}" aria-expanded="false" aria-controls="newmsgVol{{loop.index0}}">{{newMsgVol.name}}</a></li>
                                                    </div >
                                                    <div class="col-sm-4">
                                                        <a href="#" ><i class="fa fa-calendar"></i> {{newMsgVol.timeStamp}}</a>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <a  href="{{path('athwela_administrator_approveVolMessage',{'timeStamp':newMsgVol.fakeTS})}}"><span class="glyphicon glyphicon-ok " data-toggle="tooltip" data-placement="bottom" title="Mark as read"></span></a>
                                                        <a  style="margin-left: 1em;" href="{{path('athwela_administrator_rejectVolMessage',{'timeStamp':newMsgVol.fakeTS})}}"><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Delete"></span></a>
                                                    </div>
                                                </div>
                                                <div class="row collapse" id="newmsgVol{{loop.index0}}" style="margin-left: 0.3em;margin-top: 0.1em;margin-right:0.1em;">
                                                    <div class="well">
                                                        <p>{{newMsgVol.msg}}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <div>
                                                <h4 class="text-center">No new messages received from volunteers !!!!</h4>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        {%if newMsgsOrg%}
                                            <h4><i class="fa fa-table fa-fw"></i> Received from organizations</h4>
                                            {% for newMsgOrg in newMsgsOrg %}
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <li><a data-toggle="collapse" href="#newmsgOrg{{loop.index0}}" aria-expanded="false" aria-controls="newmsgOrg{{loop.index0}}" >{{newMsgOrg.name}}</a></li>
                                                    </div >
                                                    <div class="col-sm-4">
                                                        <a href="#" ><i class="fa fa-calendar"></i> {{newMsgOrg.timeStamp}}</a>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <a  href="{{path('athwela_administrator_approveOrgMessage',{'timeStamp':newMsgOrg.fakeTS})}}"><span class="glyphicon glyphicon-ok " data-toggle="tooltip" data-placement="bottom" title="Mark as read"></span></a>
                                                        <a style="margin-left:1em;" href="{{path('athwela_administrator_rejectOrgMessage',{'timeStamp':newMsgOrg.fakeTS})}}"><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Delete"></span></a>
                                                    </div>
                                                </div>
                                                <div class="row collapse" id="newmsgOrg{{loop.index0}}" style="margin-left: 0.3em;margin-top: 0.1em;margin-right:0.1em;">
                                                    <div class="well">
                                                        <p>{{newMsgOrg.msg}}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <h4 class="text-center">No new messages received from organizations !!!!</h4>
                                        {% endif %}
                                    </div>

                                </div>                           


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div>
                                    <form action="{{path('athwela_administrator_searchMessage')}}" method="POST">
                                        <div class="form-group row">

                                            <div class="col-sm-3" >
                                                <label class="control-label"> Volunteer name :</label>
                                                <input type="text" name="volName" class="form-control" placeholder="Select type">

                                            </div>
                                            <div class="col-sm-3" >
                                                <label class="control-label"> Organization name :</label>
                                                <input type="text" name="orgName" class="form-control" placeholder="Select organization">

                                            </div>

                                            <div class="col-sm-3">
                                                <label class="control-label" data-toggle="tooltip" data-placement="right" title="Select second date of the range"> First date :</label>
                                                <input type="date" class="form-control" name="fDate" data-toggle="tooltip" data-placement="bottom" title="Select first date of the range">

                                            </div>

                                            <div class="col-sm-3">
                                                <label class="control-label" data-toggle="tooltip" data-placement="right" title="Select second date of the range"> Second date :</label>
                                                <input type="date" class="form-control" name="lDate" data-toggle="tooltip" data-placement="bottom" title="Select second date of the range">
                                            </div>

                                        </div>
                                        <div>
                                            <div class="col-md-2"> 
                                                <button type="submit" class="btn btn-info">Search</button>
                                            </div>
                                            <div class="col-md-10">
                                                <p class="text-justify"><span class="fa fa-asterisk "style="color: red"></span> Here you can search your previous messages under certain categories.if you wish to enter 
                                                    data into first date then you should fill the second date as well and vice versa.Because system expected to search messages using time period.
                                                    otherwise you can leave both dates.
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

            </div>
            <div>
                <a href="{{path('athwela_administrator_message',{'flag':TRUE})}}"><i class="fa fa-envelope fa-fw"></i> View all messages</a>


            </div>
            <br />

            <div class="row">
                <div>
                    {%if searchMsgs%}
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="glyphicon glyphicon-search"></i> Search results</div>
                            <div class="panel-body text-center">
                                {% for searchMsg in searchMsgs%}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <li ><a data-toggle="collapse" href="#searchMsg{{loop.index0}}" aria-expanded="false" aria-controls="searchMsg{{loop.index0}}">{{searchMsg.name}}</a></li>
                                        </div >
                                        <div class="col-sm-4">
                                            <a href="#"><i class="fa fa-calendar"></i> {{searchMsg.timeStamp}}</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#"><span class="fa fa-th-large"></span> {{searchMsg.status}}</a>
                                        </div>
                                    </div>
                                    <div class="row collapse" id="searchMsg{{loop.index0}}" style="margin-left: 0.3em;margin-top: 0.1em;margin-right:0.1em;">
                                        <div class="well">
                                            <p>{{searchMsg.msg}}</p>
                                        </div>
                                    </div>
                                {% endfor%}
                            </div>
                        </div>

                    {% endif %}

                </div>

            </div>


            <div class="row">
                <div class="col-sm-6">
                    {%if allMsgsOrg%}

                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-table fa-fw"></i> Received from organizations</div>
                            <div class="panel-body">
                                {% for allMsgOrg in allMsgsOrg%}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <li class="text-center"><a data-toggle="collapse" href="#allMsgOrg{{loop.index0}}" aria-expanded="false" aria-controls="allMsgOrg{{loop.index0}}">{{allMsgOrg.name}}</a></li>
                                        </div >
                                        <div class="col-sm-6">
                                            <a href="#"><span class="fa fa-calendar"></span> {{allMsgOrg.timeStamp}}</a>
                                        </div>   
                                    </div>
                                    <div class="row collapse" id="allMsgOrg{{loop.index0}}" style="margin-left: 0.3em;margin-top: 0.1em;margin-right:0.1em;">
                                        <div class="well">
                                            <p>{{allMsgOrg.msg}}</p>
                                        </div>
                                    </div>
                                {% endfor%}
                            {% else %}

                            </div>
                        </div>

                    {% endif %}    
                </div>

                <div class="col-sm-6">
                    {%if allMsgsVol%}

                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-table fa-fw"></i> Received from volunteers</div>
                            <div class="panel-body">
                                {% for allMsgVol in allMsgsVol%}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <li class="text-center"><a data-toggle="collapse" href="#allMsgVol{{loop.index0}}" aria-expanded="false" aria-controls="allMsgVol{{loop.index0}}">{{allMsgVol.name}}</a></li>
                                        </div >
                                        <div class="col-sm-6">
                                            <a href="#"><span class="fa fa-calendar"></span> {{allMsgVol.timeStamp}}</a>
                                        </div>
                                    </div>
                                    <div class="row collapse" id="allMsgVol{{loop.index0}}" style="margin-left: 0.3em;margin-top: 0.1em;margin-right:0.1em;">
                                        <div class="well">
                                            <p>{{allMsgVol.msg}}</p>
                                        </div>
                                    </div>
                                {% endfor%}

                            {% else %}

                            </div>
                        </div>

                    {% endif %}
                </div>

            </div>


            <div class="row">
                <div>
                    {# {%if Msg%}
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="glyphicon glyphicon-search"></i> From :{{Msg.name}}</div>
                            <div class="panel-body text-center">
                                <p class="text-justify">
                                    {{Msg.msg}}
                                </p>
                            </div>
                        </div>

                    {% endif %} #}

                </div>

            </div>



        </div>
        <!-- /.container-fluid -->
    </div>



{%endblock content%}
