{% extends "::base.html.twig" %}

{% block css %}
    <link href="{{asset('css/timeline.css')}}" rel="stylesheet">
{% endblock %}
{# Setting UP profile Link #}
{#{% block linkProfile%}
    {{path('friends_profile_homepage',{'email':email})}}
{% endblock %}#}




{% block container %}
    <div class="col-md-12 container">
        {% for project in projects %}
        <ul class="timeline">
            {% if loop.index0 is even %}
            <li>
            {% else %}
            <li class="timeline-inverted">
            {% endif %}
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="This project was posted on: {{ project.posted_date }}" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />

                    </div>
                    <div class="timeline-body">
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.description|length > 250 ? project.description|slice(0, 250) ~ '...' : project.description }}</p>

                    </div>

                    <div class="timeline-footer">
                        <p><i class="glyphicon glyphicon-calendar"></i>Start:{{ project.start_date }}</p>
                        <a><i class="glyphicon glyphicon-share"></i></a>
                        <a class="pull-right">View more</a>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var my_posts = $("[rel=tooltip]");

            var size = $(window).width();
            for(i=0;i<my_posts.length;i++){
                the_post = $(my_posts[i]);

                if(the_post.hasClass('invert') && size >=767 ){
                    the_post.tooltip({ placement: 'left'});
                    the_post.css("cursor","pointer");
                }else{
                    the_post.tooltip({ placement: 'rigth'});
                    the_post.css("cursor","pointer");
                }
            }
        });
    </script>
{% endblock %}