{%extends "base.html.twig"%}
{%block container -%}
    <form class="form-signin" method="POST" action="{{path('vol_profile_update', { 'email': entity.email })}}" data-validate="parsley">
        <h2 style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;">{{entity.firstName}} {{entity.lastName}}</h2>            
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#personalSection">Personal and Contact</a></li>
                <li><a data-toggle="tab" href="#educationSection">Education</a></li>                            
                <li><a data-toggle="tab" href="#skills">Skills</a></li>
                <li><a data-toggle="tab" href="#workSection">Interested Areas</a></li>
            </ul>

            <div class="tab-content">                    
                <div id="personalSection" class="tab-pane fade in active">
                    <dl class="dl-horizontal" style="margin-top: 10px">    
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">                                
                                <dt id="dtid"><span class="glyphicon glyphicon-user"></span> First Name : </dt>
                                <dd><input type="text" class="form-control" value="{{ entity.firstName}} " name="firstName"/></dd><br/>

                                <dt id="dtid"><span class="glyphicon glyphicon-user"></span> Last Name : </dt>
                                <dd><input type="text" class="form-control" value="{{ entity.lastName}} " name="lastName"/></dd><br/>

                                <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> Street : </dt>
                                <dd><input type="text" class="form-control" value="{{ entity.street}} " name="city"/></dd><br/>

                                <dt id="dtid"><span class="glyphicon glyphicon-home"></span> City : </dt>
                                <dd><input type="text" class="form-control" value="{{ entity.city}} " name="city"/></dd><br/>

                                <dt id="dtid"><span class="glyphicon glyphicon-flag"></span> Country : </dt>
                                <dd><input type="text" class="form-control" value="{{ entity.country}} " name="country"/></dd><br/>

                                <dt id="dtid"><span class="glyphicon glyphicon-calendar"></span> Birthday : </dt>
                                <dd><input type="text" class="form-control" value="{{ entity.dob|date('y-m-d')}} " name="dob"/></dd><br/>

                                {%for i in 0..((entitymobile|length)-1)%}
                                    <dt id="dtid"><span class="glyphicon glyphicon-phone"></span> Mobile :</dt>
                                    <dd><input type="text" class="form-control" value="{{entitymobile[i]}}" name="mobile"/></dd><br/>
                                    {%endfor%}
                            </div>                            
                        </div>
                    </dl>
                </div>

                <div id="educationSection" class="tab-pane fade">
                    <dl class="dl-horizontal" style="margin-top: 10px">  
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">    
                                {%for i in 0..((edu|length)-1)%}
                                    <p style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px"><b>{{edu[i][0]}}, {{edu[i][4]}}, {{edu[i][5]}}</b></p>
                                    <dt id="dtid"><span class="glyphicon glyphicon-education"></span> Qualification :</dt>
                                    <dd><input type="text" class="form-control" value="{{edu[i][1]}}" name="quali"/></dd><br/>
                                    <dt id="dtid"><span class="glyphicon glyphicon-calendar"></span> Attended From :</dt>
                                    <dd><input type="text" class="form-control" value="{{edu[i][2]|date('y-m-d')}}" name="from"/></dd><br/> 
                                    <dt id="dtid"><span class="glyphicon glyphicon-calendar"></span> Until :</dt>
                                    <dd><input type="text" class="form-control" value="{{edu[i][3]|date('y-m-d')}} " name="to"/></dd><br/>    
                                    {%endfor%}
                            </div>
                        </div>
                    </dl>
                </div>

                <div id="skills" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <dl>
                            </dl>
                        </div>
                    </div>
                </div>

                <div id="workSection" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <dl>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
        </div>            

    </form>
{%endblock%}
