{%extends "::base.html.twig"%}
{%block items%}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="{{path('vol_profile_show')}}">Profile</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{path('volunteer_profile_updates', {'id' : entity.id})}}">Profile Settings</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="{{path('athwela_timeline_volunteer')}}">Timeline</a></li>
                <li class="divider"></li>
                <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
            </ul>
        </li>
    </ul>
{%endblock items%}

{% block container -%}
    <div style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px;">
        {%if notification[1] != 0%}
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                <b>You have <label style="color: red">{{notification[1]}}</label> unread notification(s)!</b>
            </div>
            <hr>
            {%for i in 0..(projects|length-1)%}
                <div style="background-color: whitesmoke" class="img-responsive img-thumbnail">
                    Congradulations! You have been volunteered by <label style="color: green">{{projects[i][1].name}}, {{projects[i][1].street}}, {{projects[i][1].city}}, {{projects[i][1].country}}</label> for it's project
                    titled as <label style="color: green">{{projects[i][0].title}}</label>.
                    <a href="#" value="" class="btn btn-info" style="margin-bottom: 5px; margin-right: 50px">More>><a/>
                </div>
                <hr>
            {%endfor%}
        {%endif%}
        {%if notification[1] == 0%}  
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                <b>You have no unread notifications!</b>
            </div>
        {%endif%}

    </div>
    <div style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px;">
        {%if notification[0] != 0%}
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                <b>You have <label style="color: red">{{notification[0]}}</label> unread message(s)!</b>
            </div>   
            <hr>
            {%for i in 0..(messages|length-1)%}
                <div style="background-color: whitesmoke" class="img-responsive img-thumbnail">
                    <label>From: {{messages[i][1]}} (Admin) </label>
                    <label>At: {{messages[i][2]}}</label><br/>
                    <label>Subject: {{messages[i][4]}}</label><br/>
                    <label>Your admin says: {{messages[i][3]}}</label> 
                    <a href="{{path('vol_profile_message', {'email' : entity.email})}}" class="btn btn-success" style="margin-top: 30px; float: right">Reply</a>
                </div>
                <hr>
            {%endfor%}
        {%endif%}
        {%if notification[0] == 0%}
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                <b>You have no unread messages!</b>
            </div>   
        {%endif%}
        <br/>
        <a href="{{path('vol_profile_message', {'email' : entity.email})}}" class="btn btn-success" style="margin-top: 30px">Send a new message</a>
    </div>
{%endblock%}