{%extends "::base.html.twig"%}
{%block items%}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="{{path('vol_profile_show')}}">Profile</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{path('volunteer_profile_updates', {'id' : entity.id})}}">Profile Settings</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="{{path('athwela_timeline_volunteer')}}">Timeline</a></li>
                <li class="divider"></li>
                <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
            </ul>
        </li>
    </ul>
{%endblock items%}

{% block container -%}
    <div style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px;">
        {%if projects[0][0] != null and projects|length != 0%}            
            <div style="margin-top: 30px" class="img-responsive img-thumbnail">
                You have <label style="color: red">{{projects|length}}</label> ongoing project(s)!
            </div>
            <hr>
            {%for i in 0..(projects|length-1)%}
                <div style="background-color: whitesmoke; width: 100%" class="img-responsive img-thumbnail">

                    <b>Project name: </b>{{projects[i][0]}} <br/>
                    <b>Description: </b>{{projects[i][1]}} <br/>
                    <b>Posted by: </b>{{projects[i][5].name}}, {{projects[i][5].street}}, {{projects[i][5].city}}, {{projects[i][5].country}} <br/>
                    <b>Posted on: </b>{{projects[i][4]}} <br/>
                    <b>Start date: </b>{{projects[i][2]}} <br/>
                    <b>End date: </b>{{projects[i][3]}} <br/>
                    <b>Your contribution: </b>{{projects[i][6]}} 

                    <a class="btn btn-info" style="float: right">More>></a>                
                </div>               
                <hr>
            {%endfor%}
        {%endif%}
        {%if projects[0][0] == null%}  
            <div style="margin-top: 30px; width: 100%" class="img-responsive img-thumbnail">          
                {%if suggesstion[0] != null%}
                    <b>You have no any ongoing projects. Here are some suggestions for you.</b>
                    {%for i in 0..(suggesstion|length-1)%}
                        <div style="background-color: whitesmoke; width: 100%" class="img-responsive img-thumbnail">
                            <b>Project name: </b>{{suggesstion[i].title}} <br/>
                            <b>Description: </b>{{suggesstion[i].description}} <br/>
                            <b>Posted on: </b>{{suggesstion[i].postedDate}} <br/>
                            <b>Start date: </b>{{suggesstion[i].startDate}} <br/>
                            <b>End date: </b>{{suggesstion[i].endDate}} <br/>
                            <b>Number of remaining poistions: </b>{{suggesstion[i].volunteersNeeded - suggesstion[i].noOfFilledPositions}}
                            <a class="btn btn-info" style="float: right">More>></a>                
                        </div> 
                        <hr/>
                    {%endfor%}
                {%else%}
                    <b>You have no any ongoing projects. Update your profile so that we could give you some suggesstions.</b>
                {%endif%}
            </div>
        {%endif%}
    </div>
{%endblock%}
