{%extends "::base.html.twig"%}

{% block css %}
    <link href="{{asset('css/timeline.css')}}" rel="stylesheet">
{% endblock %}

{%block items%}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="{{path('vol_profile_show')}}">Profile</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{path('volunteer_profile_updates', {'id' : entity.id})}}">Profile Settings</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="{{path('athwela_timeline_volunteer')}}">Timeline</a></li>
                <li class="divider"></li>
                <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
            </ul>
        </li>
    </ul>
{%endblock items%}

{% block container -%}
    <div class="col-md-12 container">
        {%if projects[0][0] != null and projects|length != 0%}            
            <div  style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 30px" class="img-responsive img-thumbnail">
                You have <label style="color: red">{{projects|length}}</label> ongoing project(s)!
            </div>
            <hr>
            {%for i in 0..(projects|length-1)%}
                <ul class="timeline">
                    {% if loop.index0 is even %}
                        <li>
                        {% else %}
                        <li class="timeline-inverted">
                        {% endif %}
                        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="This project was posted on: {{projects[i][4]}}" id=""></i></a></div>
                        <div class="timeline-panel">                            
                            <div class="timeline-body">
                                <h4>{{ projects[i][0] }}</h4>
                                <p>{{ projects[i][1]|length > 250 ? projects[i][1]|slice(0, 250) ~ '...' : projects[i][1] }}</p>
                            </div>

                            <div class="timeline-footer">
                                <p><i class="glyphicon glyphicon-calendar"></i>Start:{{ projects[i][2] }}</p>
                                <a class="btn btn-info" style="float: right" href="{{path('show_project', {'ID':projects[i][7]})}}">View more</a>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {%endif%}
        {%if projects[0][0] == null%}  
            <div class="col-md-12 container">          
                {%if suggesstion[0] != null%}
                    <div  style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 30px" class="img-responsive img-thumbnail">
                        <b>You have no any ongoing project. Here are some suggestions for you.</b>
                    </div>
                    {%for i in 0..(suggesstion|length-1)%}
                        <ul class="timeline">
                            {% if loop.index0 is even %}
                                <li>
                                {% else %}
                                <li class="timeline-inverted">
                                {% endif %}
                                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="This project was posted on: {{suggesstion[i].postedDate}}" id=""></i></a></div>
                                <div class="timeline-panel">                            
                                    <div class="timeline-body">
                                        <h4>{{ suggesstion[i].title }}</h4>
                                        <p>{{ suggesstion[i].description|length > 250 ? suggesstion[i].description|slice(0, 250) ~ '...' : suggesstion[i].description }}</p>

                                    </div>

                                    <div class="timeline-footer">
                                        <p><i class="glyphicon glyphicon-calendar"></i>Start:{{ suggesstion[i].startDate }}</p>
                                        <p>   <i class="glyphicon glyphicon-ok"></i>Remaining :{{ suggesstion[i].volunteersNeeded - suggesstion[i].noOfFilledPositions }}</p>
                                        <a class="btn btn-info" style="float: right" href="{{path('show_project', {'ID':suggesstion[i].id})}}">View more</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    {%endfor%}
                {%else%}
                    <b>You have no any ongoing projects. Update your profile so that we could give you some suggesstions.</b>
                {%endif%}
            </div>
        {%endif%}
    </div>
{%endblock%}
