{%extends "base.html.twig"%}
{% block container -%}
    <title>{{entity.firstName}} {{entity.lastName}}</title>
    <div class="row">
        <div class="col-md-3">

            <div id="image">                
                <div style="width: 200px; height: 200px; border: 1px solid black; margin-top: 40px">Profile Picture</div>
            </div>

            <div id="navBox" style="margin-top: 20px;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Projects
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Ongoing</a></li>
                                    <li><a href="#">Notifications</a></li>
                                    <li><a href="#">Contribution</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Setup Profile
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="{{path('vol_profile_edit', { 'email': 'dilini@gmail.com' })}}">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form class="form-signin" method="POST" action="#" data-validate="parsley">
                <div class="col-md-8">
                    <h2 style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;">{{entity.firstName}} {{entity.lastName}}</h2>            
                    <p>Approved by: {{admin}}</p>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#personalSection">Personal and Contact</a></li>
                            <li><a data-toggle="tab" href="#educationSection">Education</a></li>                            
                            <li><a data-toggle="tab" href="#skills">Skills</a></li>
                            <li><a data-toggle="tab" href="#workSection">Interested Areas</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="personalSection" class="tab-pane fade in active">
                                <dl class="dl-horizontal" style="margin-top: 10px">
                                    <dt><span class="glyphicon glyphicon-user"></span> Name :</dt>
                                    <dd>{{entity.firstName}} {{entity.lastName}}</dd><br/>
                                    <dt><span class="glyphicon glyphicon glyphicon-calendar" ></span> Date of Birth :</dt>
                                    <dd>{{entity.dob|date('y-m-d')}}</dd><br/>  
                                    <dt><span class="glyphicon glyphicon-circle-arrow-up" ></span> Gender :</dt>
                                    {%if(entity.gender) == 1%}
                                        <dd>Male</dd><br/>
                                    {%endif%}
                                    {%if entity.gender == 0%}
                                        <dd>Female</dd><br/>  
                                    {%endif%}
                                    <dt><span class="glyphicon glyphicon-home" ></span> Hometown :</dt>
                                    <dd>{{entity.city}}</dd><br/> 
                                    <dt><span class="glyphicon glyphicon-flag" ></span> Country :</dt>
                                    <dd>{{entity.country}}</dd><br/>  
                                    <dt><span class="glyphicon glyphicon-envelope"></span> E-mail :</dt>
                                    <dd>{{entity.email}}</dd><br/>
                                    <dt><span class="glyphicon glyphicon-home"></span> Adress :</dt>
                                    <dd>{{entity.street}}, {{entity.city}}, {{entity.country}}</dd><br/>
                                    {%for i in 0..((entitymobile|length)-1)%}
                                        <dt><span class="glyphicon glyphicon-phone"></span> Mobile :</dt>
                                        <dd>{{entitymobile[i]}}</dd><br/>
                                    {%endfor%}
                                </dl>
                            </div>
                            <div id="educationSection" class="tab-pane fade">
                                <dl class="dl-horizontal" style="margin-top: 10px">
                                    {%for i in 0..((edu|length)-1)%}
                                        <p style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px"><b>{{edu[i][0]}}, {{edu[i][4]}}, {{edu[i][5]}}</b></p>
                                        <dt><span class="glyphicon glyphicon-education"></span> Qualification :</dt>
                                        <dd>{{edu[i][1]}}</dd><br/>
                                        <dt><span class="glyphicon glyphicon-book"></span> Attended :</dt>
                                        <dd> From {{edu[i][2]}} To {{edu[i][3]}} </dd><br/>    
                                    {%endfor%}
                                </dl>
                            </div>
                            <div id="skills" class="tab-pane fade">
                                <dl class="dl-horizontal" style="margin-top: 10px">
                                    {%for i in 0..((skills|length)-1)%}                                        
                                        <dt><span class="glyphicon glyphicon-star"></span>{{skills[i][0]}}</dt>
                                        <dd>{{skills[i][1]}}</dd><br/>  
                                    {%endfor%}
                                </dl>
                            </div>
                            <div id="workSection" class="tab-pane fade">
                                <dl class="dl-horizontal" style="margin-top: 10px">
                                    {%for i in 0..((interests|length)-1)%}                                        
                                        <dt><span class="glyphicon glyphicon-star"></span>{{skills[i][0]}}</dt>
                                        <dd>{{interests[i][1]}}</dd><br/>  
                                    {%endfor%}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%endblock%}
