{%extends '::base.html.twig'%}


{%block container%}
    <h2 class="page-header">Create project</h2>

    <form action="#" method="post" name="projectEdit" class="form-horizontal">

        <div class="row">

            <h3 class="page-header">Image Crousel [EDIT]</h3>

            <p>Here you can insert three images which can be use to display in front crousel[image slider].In order to achive good quality of your image crousel please use 900*500 or higher resolution images.<br />
                <strong>Caution</strong><br />
                Higher resolution will affect the performance of the web page.given resolution size will achieve optimum performance.
            </p>

            <label for="crouselImg1" class="control-label">Image 1</label>
            <input type="file" name="crouselImg1" id="crouselImg1">
            <label for="crouselImg1" class="control-label">Image 2</label>
            <input type="file" name="crouselImg2">
            <label for="crouselImg1" class="control-label">Image 3</label>
            <input type="file" name="crouselImg3">


        </div>
        <div id="projectEdit" class="row">
            <div class="col-sm-4">
                <h3 class="page-header">ProjectDetails [EDIT]</h3>
                <div class="form-group">
                    <input type="text" placeholder="Project Title" name="projectTitle" class="form-control">
                </div>

                <div class="form-group"><label for="typeList" class="control-label">Select Project Type</label></div>
                <div class="form-group">
                    {%if types !=null%}

                        <select class="form-control" name="typeList" id="typeList">
                            {%for type in types%}
                                <option value="{{type}}">{{type}}</option>
                            {% endfor%}
                        </select>

                    {% endif%}
                </div>

                <div class="form-group">
                    <textarea type="text" placeholder="Project Description" name="projectDescription" class="form-control"></textarea>

                </div>

            </div>


            <div id="statusEdit" class="col-sm-3 col-sm-offset-1">
                <h3 class="page-header">Project Status [EDIT]</h3>
                <div class="form-group">
                    <label class="control-label">Project start date :-</label>
                    <input type="date" name="startDate" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Project end date :-</label>
                    <input type="date" name="endDate" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Number of voluteers needed :-</label>
                    <input type="text" name="endDate" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Project Status :-</label>
                    <select class="form-control">
                        <option value="ongoing">Ongoing</option>
                        <option value="completed">Completed</option>
                        <option value="completed">Vacant</option>
                        <option value="completed">Fully Occupied</option>
                    </select>
                </div>
                
                {%if skills != null%}
                    <label class="control-label">Select skills :-</label><br />
                    {%for skill in skills%}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="" id="check{{loop.index0}}" value="{{skill}}"> {{skill}}
                        </label>
                    {% endfor%}
                {% endif%}

            </div>


            <div id="galleryEdit" class="col-sm-3 col-sm-offset-1">
                <h3 class="page-header">Project Gallery [EDIT]</h3>

                <label for="galImg1" class="control-label">Image 1</label>
                <input type="file" name="galImg1" id="crouselImg1">
                <label for="galImg2" class="control-label">Image 2</label>
                <input type="file" name="galImg2">
                <label for="galImg3" class="control-label">Image 3</label>
                <input type="file" name="galImg3">
                <label for="galImg4" class="control-label">Image 4</label>
                <input type="file" name="galImg4" id="crouselImg1">
                <label for="galImg5" class="control-label">Image 5</label>
                <input type="file" name="galImg5">
                <label for="galImg6" class="control-label">Image 6</label>
                <input type="file" name="galImg6">
                <label for="galImg7" class="control-label">Image 7</label>
                <input type="file" name="galImg7" id="crouselImg1">
                <label for="galImg8" class="control-label">Image 8</label>
                <input type="file" name="galImg8">
                <label for="galImg9" class="control-label">Image 9</label>
                <input type="file" name="galImg9">
                <label for="galImg10" class="control-label">Image 10</label>
                <input type="file" name="galImg10">
            </div>

        </div>
        <button type="submit" class="btn btn-info pull-right">Submit</button>

    </form>
    <br />
    <div><hr></div>
{%endblock container%}